HUe-flows
[{"id":"6304363d.a583b8","type":"template","z":"f1be3780.6dab48","name":"OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"on\": false\n  \n}","x":776,"y":367,"wires":[["8d461151.16c94"]]},{"id":"80f49a60.c755f8","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":607,"y":368,"wires":[["6304363d.a583b8"]]},{"id":"5c96817f.6921f","type":"hue-state","z":"f1be3780.6dab48","bridge":"f3fce2e7.4af3d","light":"g-5","name":"Chambre","x":960,"y":311,"wires":[["b8ae92b1.e9e2e"]]},{"id":"8d169720.2b5608","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":620,"y":314,"wires":[["5c96817f.6921f"]]},{"id":"b8ae92b1.e9e2e","type":"debug","z":"f1be3780.6dab48","name":"","active":true,"console":"false","complete":"false","x":1210,"y":304,"wires":[]},{"id":"8d461151.16c94","type":"hue-set","z":"f1be3780.6dab48","bridge":"f3fce2e7.4af3d","light":"g-10","name":"","x":961,"y":369,"wires":[["b8ae92b1.e9e2e"]]},{"id":"ba79fda4.decf2","type":"debug","z":"f1be3780.6dab48","name":"","active":true,"console":"false","complete":"false","x":1225,"y":575,"wires":[]},{"id":"500d00e3.e1093","type":"function","z":"f1be3780.6dab48","name":"","func":"var zway = global.get.zway;\nvar deviceApi = new global.get.zway.DeviceApi('raspberrypi');\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":511,"wires":[["ba79fda4.decf2"]]},{"id":"cac7a4d0.7b13a8","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":664,"y":516,"wires":[["500d00e3.e1093"]]},{"id":"d057aeb5.f10c4","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":574.5,"y":867.75,"wires":[["766eef31.f6b3f","7430ccdf.026a34"]]},{"id":"766eef31.f6b3f","type":"delay","z":"f1be3780.6dab48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":705.1015625,"y":792.1953125,"wires":[["38b2c8ec.5cee18"]]},{"id":"dfe5f97c.a62228","type":"function","z":"f1be3780.6dab48","name":"OFF_delay_5","func":"msg.payload={\n\t\"on\":[false],\n\t\"transitiontime\":[5],\n\t\n}\nreturn msg;","outputs":1,"noerr":0,"x":952.5,"y":757.75,"wires":[[]]},{"id":"38b2c8ec.5cee18","type":"function","z":"f1be3780.6dab48","name":"ON_delay_15","func":"msg.payload={\n\t\"on\":[true],\n\t\"transitiontime\":[15],\n\t\"bri\":[255],\n\t\"rgb\":[255,255,255]\n}\nreturn msg;","outputs":1,"noerr":0,"x":882.5,"y":846.75,"wires":[[]]},{"id":"7430ccdf.026a34","type":"function","z":"f1be3780.6dab48","name":"ON_delay_5","func":"msg.payload={\n\t\"on\":[true],\n\t\"transitiontime\":[5],\n\t\"bri\":[255],\n\t\"rgb\":[255,255,255]\n}\nreturn msg;","outputs":1,"noerr":0,"x":915.5,"y":930.75,"wires":[[]]},{"id":"951d2b4b.f5cce8","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":795.5,"y":714.75,"wires":[["dfe5f97c.a62228"]]},{"id":"558f9c34.d9de94","type":"template","z":"f1be3780.6dab48","name":"On_Delay","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"on\": true,\n  \"bri\": 254,\n  \"hue\": 0,\n  \"sat\": 254,\n  \"transitiontime\": 50\n}","x":782,"y":410,"wires":[["8d461151.16c94"]]},{"id":"72c7afb3.7f36","type":"template","z":"f1be3780.6dab48","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"on\": true,\n  \"bri\": 254,\n  \"hue\": 0,\n  \"sat\": 254,\n  \"alert\": \"lselect\"\n}","x":1157,"y":418,"wires":[["b8ae92b1.e9e2e"]]},{"id":"43c46235.e98c1c","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":1004,"y":422,"wires":[["72c7afb3.7f36"]]},{"id":"565a2cfd.95c384","type":"inject","z":"f1be3780.6dab48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":594,"y":421,"wires":[["558f9c34.d9de94"]]},{"id":"1a63c21d.6b996e","type":"switch","z":"f1be3780.6dab48","name":"","property":"payload.nvalue","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":767,"y":621,"wires":[["10635633.ff8fba"],["9625a339.9d391"]]},{"id":"dc4062bc.728ff","type":"mqtt in","z":"f1be3780.6dab48","name":"","topic":"#","broker":"962a28f.8b5d5d8","x":418,"y":631,"wires":[["fad4c502.b3b7d8","ba79fda4.decf2"]]},{"id":"fad4c502.b3b7d8","type":"json","z":"f1be3780.6dab48","name":"","x":613,"y":643.75,"wires":[["1a63c21d.6b996e"]]},{"id":"10635633.ff8fba","type":"template","z":"f1be3780.6dab48","name":"OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"on\": false\n  \n}","x":905,"y":598,"wires":[["1d0aa8e5.9409d7"]]},{"id":"9625a339.9d391","type":"template","z":"f1be3780.6dab48","name":"On_Delay","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"on\": true,\n  \"bri\": 254,\n  \"hue\": 0,\n  \"sat\": 254,\n  \"transitiontime\": 50\n}","x":911,"y":641,"wires":[["1d0aa8e5.9409d7"]]},{"id":"1d0aa8e5.9409d7","type":"hue-set","z":"f1be3780.6dab48","bridge":"f3fce2e7.4af3d","light":"g-10","name":"","x":1090,"y":600,"wires":[[]]},{"id":"fd7b00f5.c85cf","type":"switch","z":"f1be3780.6dab48","name":"Composant_Zwave","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"137","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","outputs":5,"x":1242,"y":801,"wires":[[],[],[],[],[]]},{"id":"e3a8d20c.71bb9","type":"comment","z":"f1be3780.6dab48","name":"3   Porte Chambre  1   Porte Dressing 7   Porte Entrée 137 Lunminosité entrée 9   Température entrée","info":"IDX\n3   Porte Chambre \n1   Porte Dressing\n7   Porte Entrée\n137 Lunminosité entrée\n9   Température entrée","x":1658,"y":499,"wires":[]},{"id":"1251122f.4fb90e","type":"function","z":"f1be3780.6dab48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1476,"y":637,"wires":[[]]},{"id":"f3fce2e7.4af3d","type":"hue-bridge","z":"f1be3780.6dab48","name":"Bridge","bridge":"192.168.1.11","key":"O8i0h-dT42DWL4k02qpxq9yUr2ssHK4AHVNvN6Ig"},{"id":"962a28f.8b5d5d8","type":"mqtt-broker","z":"f1be3780.6dab48","broker":"rpiosmc","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
